<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.osgibook.helloworld.application.helloWorldGuiApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.osgibook.helloworld.application.HelloWorldGuiApplication">
         </run>
      </application>
   </extension>
   
   <extension
         id="org.osgibook.helloworld.application.helloWorldBatchApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.osgibook.helloworld.application.HelloWorldBatchApplication">
         </run>
      </application>
   </extension>

</plugin>
